
a:hover
{
  cursor: pointer;
  text-decoration : none;
}
#brand
{
    font-family: 'Wendy One', sans-serif;
}
#output
{
  width: 100%;
  height: 100%;
  border: 1px solid #eaedef;
}
.invalid
{
    color : red;    
}
@media screen and (max-width: 991px)
{
    .desktop
    {
        display: none;
    }
}